{% extends 'base.html' %}
{% block title %}Payment Success{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Payment Status</h1>
    {% if message %}
    <p class="text-success text-center">{{ message }}</p>
    {% elif error %}
    <p class="text-danger text-center">{{ error }}</p>
    {% else %}
    <p class="text-warning text-center">Something went wrong.</p>
    {% endif %}
</div>
<script>
    setTimeout(() => {
        window.location.href = '/';
    }, 5000);
</script>
{% endblock %}