{% extends 'base.html' %}

{% block title %}Create Review{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Create a New Review</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="category">Category</label>
            <select id="category" name="category" class="form-control">
                <option value="Product">Product</option>
                <option value="Plan">Plan</option>
                <option value="Service">Service</option>
                <option value="Other">Other...</option>
            </select>
        </div>
        <div class="form-group mt-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
</div>
{% endblock %}